@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family : "Poppins";
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #222;
	overflow: hidden;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container .box {
	transform-style: preserve-3d;
    animation: animate 20s linear infinite;
    transform : perspective(1000px);
}

@keyframes animate {
    0% {
        transform : rotateX(0deg) rotate(25deg);
    }
    100% {
        transform : rotateX(360deg) rotate(25deg);
    }
}

.container .box span {
	position: absolute;
	color : #fff;
	font-size: 3.5em;
	white-space: nowrap;
	text-transform: uppercase;
	font-weight: 900;
	padding : 0px 10px;
	transform-style: preserve-3d;
	text-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
	transform: translate(-50%,-50%) rotateX(calc(var(--i)*22.5deg)) translateZ(110px);
    background: linear-gradient(90deg,transparent,rgba(0,0,0,0.5), transparent);
    line-height: 0.79em;
}

span i:nth-child(1){
    color : rgb(255, 0, 106);
}

span i:nth-child(2){
    color : rgb(0, 183, 255);
}

@media screen  and (max-width:760px) {
	.container .box span {
		font-size: 1em;
		line-height: 0.79em;
		transform: translate(-50%,-50%) rotateX(calc(var(--i)*22.5deg)) translateZ(40px);
	}
}